<!DOCTYPE HTML>
<html>
<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src ="/script.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link href="bootstrap.css" rel="/stylesheet">
		<link href="bootstrap-theme.css" rel="/stylesheet">
		<link href="bootstrap-theme.min.css" rel="/stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">

		<title>todo</title>
</head>

	<body>
		<div class=>
			
			
			
		  <nav id="nav" class="nav ">
			  
    <div class="default-nav bar-one bar-con">
	    <div class="bar" data-percent="100"></div>
        <div class="main-nav">
            <div class="toggle"></div>
            <div class="main-nav-item"><a class="main-nav-item-link" href="#"><%=@username%></a></div>
            <div class="options"></div>
        </div>
    </div>
    </nav>

<%=yield%>

	</body>
</html>